.header {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 1px solid black;
}

.navitems>ul {
    list-style-type: none;
    display: flex;
}

.navitems>ul>li {
    padding: 10px;
}

.logo {
    padding-left: 10px;
    display: flex;
    height: 70px;
    width: 70px;
}

.card {
    width: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

.card>img {
    width: 100%;
}

.restaurantList {
    display: flex;
    flex-wrap: wrap;
}

.shimmerCard {
    width: 200px;
    height: 350px;
    padding: 10px;
    margin: 10px;
    background-color: lightgrey;
}

.shimmerWrap {
    display: flex;
    flex-wrap: wrap;
}